<%= form_for(@daily_goal) do |f| %>
  <% if @daily_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_goal.errors.count, "error") %> prohibited this daily_goal from being saved:</h2>

      <ul>
      <% @daily_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% if @user.nil? %>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
 <% else %>
  <%= f.hidden_field :user_id, value: @user.id %>
 <% end %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
