<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daily_goal.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @daily_goal.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @daily_goal.done %>
</p>

<%= link_to 'Edit', edit_daily_goal_path(@daily_goal) %> |
<% if @daily_goal.user.nil? %>
	<%= link_to 'Back', daily_goals_path %>
<% else %>
	<%= link_to 'Back', @daily_goal.user %>
<% end %>
